/* BODY */

body {
    background-color: #FBF8F6;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;

}

header {
    background-image: url("../images/Header\ background.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    
}

#intro h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* HERO SECTION GRID */

.herobannerGrid {
    display: grid;
    max-width: 1500px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 850px;
    grid-template-areas: "intro photo";
    margin: 0 auto;
}

#intro {
    grid-area: intro;
    
}

#photo {
    grid-area: photo;
    float: right;
    width: 345px;
    height: 456px;
    top: 216px;
}


/* NAVIGATION */

.nav {

    flex-direction: row;
    margin: 0px 5%;
    padding: 20px;
    align-items: baseline;
    height: 150px;
    
}

.left{
    float: left;
    margin-left: auto;
}

.right{
    float: right;
    margin-right: 10px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    padding: 40px;
}
.navitem {
    padding-right: 10px;
    padding-left: 10px;

}

/* TYPOGRAPHY */

a{
    text-decoration: none;
    color: #333;
}

a:hover {
    color: lightseagreen;
    border-bottom: 3px solid lightseagreen;
}

p{
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 16px;
    font-weight:normal
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 300%;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 45px;

}

h3{
    font-family: 'Lora', serif;
font-style: normal;
font-weight: normal;
font-size: 300%;
line-height: 82px;
}



/* CASE STUDY GRID */

.casestudyGrid {
    display: grid;
    max-width: 1500px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 475px 475px 475px 475px;
    grid-row-gap: 100px;
    grid-template-areas: "casestudy1 casestudy1text" 
    "casestudy2 casestudy2text"
    "casestudy3 casestudy3text"
    "casestudy4 casestudy4text";

}

.casestudyGridArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

#casestudy1, #casestudy2, #casestudy3, #casestudy4 {
    padding: 10px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    border-radius: 3%;
    
}

#casestudyimages:hover {
    opacity: 0.9;
}

#casestudy1 {
    grid-area: casestudy1;
    
    
}

#casestudy1text {
    grid-area: casestudy1text;
}

#casestudy2 {
    grid-area: casestudy2;
    
}

#casestudy2text {
    grid-area: casestudy2text;
}

#casestudy3 {
    grid-area: casestudy3;

}

#casestudy3text {
    grid-area: casestudy3text;
    vertical-align: text-bottom;
}

#casestudy4 {
    grid-area: casestudy4;
    background-color: rgb(109, 184, 171);
}

#casestudy4text {
    grid-area: casestudy4text;
}

.Save-A-Dog .Link2Care .AWE .GreenLight {
   float: right;
   margin: 0px, 0px, 20px, 20px;
   padding: 10px;
   text-align: center;}

.arrow {
    padding-left: 20px;

}







/* FOOTER */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding:0.5em 0;
    width: 100%;
    vertical-align: top; 
    list-style: none;
}

ul {
    list-style: none;
}
