.nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px;

}

h1 {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: aquamarine;
}